*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 14px;
}
/* 首部 */
.header{
    width: 100%;
    height: 45px;
    /* background: red; */
}

/* 左边logo */
.header .logo{
    float: left;
    margin-left: 20px;
    opacity: 0.5;
}
.header .logo:hover{
    opacity: 1;
}
.header .logo a{
    display: inline-block;
    width: 78px;
    height: 21px;
    background: url("https://s1.ax1x.com/2020/06/20/NQenZq.png") no-repeat 0 0;
}

/* 右边登录与设置 */
.header .register{
    float: right;
    line-height: 45px;
}

.header .register li{
    list-style: none;
    float: left;
    margin-right: 20px;
    color: #fff;
    opacity: 0.5;
}
.header .register li:hover{
    opacity: 1;
}

/* 中间区域 */
.content{
    width: 100%;
    height: 460px;
    /* background: blue; */
}

/* 版型 */
.content .content_in{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* background: deeppink; */
}

/* 左边内容 */
.content_in .content_left{
    float: left;
    width: 800px;
    height: 100%;
}
/* 左上部分 */
.content_left .content_toolbar{
    width: 100%;
    height: 40px;
}

/* 布局文字 */
.content_toolbar span{
    display: inline-block;
    width: 122px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    opacity: 0.5;
}
.content_toolbar span:hover{
    opacity: 1;
}

/* 布局图片 */
.content_toolbar span i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("https://s1.ax1x.com/2020/06/20/NQezpF.png") no-repeat 0 0;
    margin-right: 10px;
    vertical-align: -5px;
}

/* 设置精灵图的位置 */
.content_toolbar span:nth-child(1) i{
    background-position: -60px -20px;
}
.content_toolbar span:nth-child(2) i{
    background-position: -20px -20px;
}
.content_toolbar span:nth-child(3) i{
    background-position: -40px -240px;
}
.content_toolbar span:nth-child(4) i{
    background-position: -100px -20px;
}
.content_toolbar span:nth-child(5) i{
    background-position: -40px -300px;
}

/* 左下部分 */
.content_left .content_list{
    width: 100%;
    height: 420px;
    /* background: plum; */
    overflow: auto;
}
.content_list li{
    list-style: none;
    width: 100%;
    height: 50px;
    /* background: orangered; */
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-sizing: border-box;
    user-select: none;
}
.content_list li div{
    float: left;
    color: rgba(255,255,255,0.5);
    line-height: 50px;
    opacity: 0.5;
}
/* 选项框 */
.content_list .list_check{
    width: 50px;
    height: 100%;
    text-align: center;
}
.content_list .list_check i{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    opacity: 0.5;
}
.content_list .list_checked i{
    background: url("https://s1.ax1x.com/2020/06/20/NQlMng.png") no-repeat -60px -80px;
    opacity: 1;
}

/* 数字 */
.content_list .list_number{
    width: 20px;
    height: 100%;
}
.content_list .list_number2{
    color: transparent !important;
    background: url("https://s1.ax1x.com/2020/06/20/NQrPRU.gif") no-repeat 0 center;
}

/* 歌曲 */
.content_list .list_name{
    width: 50%;
    height: 100%;
    /* background: #ccc; */
}

/* 设置精灵图 */
.list_name .list_menu{
    margin-top: 5px;
    float: right;
    margin-right: 20px;
    display: none;
}

.list_menu a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("https://s1.ax1x.com/2020/06/20/NQuii6.png") no-repeat 0 0;
    opacity: 0.5;
}
.list_menu a:hover{
    opacity: 1;
}
/* 设置精灵图位置 */
.list_menu a:nth-child(1){
    background-position: -120px 0;
}
.list_menu a:nth-child(2){
    background-position: -120px -80px;
}
.list_menu a:nth-child(3){
    background-position: -120px -120px;
}
.list_menu a:nth-child(4){
    background-position: -120px -40px;
}

.list_menu .list_menu_play2{
    background-position: -80px -200px !important;
}

/* 歌手 */
.content_list .list_singer{
    width: 20%;
    height: 100%;
    /* background: #31c27c; */
}
/* 时长 */
/* 精灵图删除的位置 */
.content_list .list_time a{
    display: inline-block;
    width: 36px;
    height: 36px;
    float: left;
    background: url("https://s1.ax1x.com/2020/06/20/NQuii6.png") no-repeat -120px -160px;
    margin-top: 5px;
    display: none;
    opacity: 0.5;
}
.content_list .list_time a:hover{
    opacity: 1;
}

/* 右边内容 */
.content_in .content_right{
    float: right;
    width: 400px;
    height: 100%;
    /* background: #ccc; */
    user-select: none;
}

/* 右上内容 */
.content_right .song_info{
    text-align: center;
    color: rgba(255,255,255,0.5);
    line-height: 30px;
}
.song_info .song_info_pic{
    display: inline-block;
    background: url("https://s1.ax1x.com/2020/06/20/NQ3aTJ.png") no-repeat 0 0;
    width: 201px;
    height: 180px;
    text-align: left;
    border-radius: 50%;
}
.song_info_pic img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.song_info div a{
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}
.song_info div a:hover{
    opacity: 1;
}
/* 右下歌词 */
.content_right .song_lyric_container{
    margin-top: 30px;
    height: 150px;
    overflow: hidden;
}
.content_right .song_lyric{
    /* background: greenyellow; */
    text-align: center;
    margin-top: 30px;
    /* overflow: hidden; */
}
.content_right .song_lyric li{
    list-style: none;
    line-height: 30px;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
}
.content_right .song_lyric .cur{
    color: #31c27c;
}

/* 底部 */
.footer{
    width: 100%;
    height: 80px;
    /* background: green; */
    position: absolute;
    left: 0;
    bottom: 0;
}

/* 版型 */
.footer .footer_in{
    width: 1200px;
    height: 100%;
    /* background: purple; */
    margin: 0 auto;
    user-select: none;
}

.footer_in a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: url("https://s1.ax1x.com/2020/06/20/NQYwDK.png") no-repeat 0 0;
    margin-right: 20px;
}
.footer_in .music_pre{
    width: 19px;
    height: 20px;
    background-position: 0 -30px;
}
.footer_in .music_play{
    width: 21px;
    height: 29px;
    background-position: 0 0;
    vertical-align: -5px;
}
.footer_in .music_play2{
    background-position: -30px 0;
}
.footer_in .music_next{
    width: 19px;
    height: 20px;
    background-position: 0 -52px;
}
.footer_in .music_progress_info{
    display: inline-block;
    width: 670px;
    height: 40px;
    position: relative;
    top: 10px;
}
.music_progress_info .music_progress_top{
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
}
.music_progress_top .music_progress_name{
    float: left;
    opacity: 0.5;
}
.music_progress_top .music_progress_name:hover{
    opacity: 1;
}
.music_progress_top .music_progress_time{
    float: right;
    opacity: 0.5;
}
.music_progress_info .music_progress_bar{
    width: 100%;
    height: 4px;
    background: rgba(255,255,255,0.5);
    margin-top: 5px;
    position: relative;
}
.music_progress_bar .music_progress_line{
    width: 0px;
    height: 100%;
    background: #fff;
}
.music_progress_line .music_progress_dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0px;
}
.footer_in .music_mode{
    width: 26px;
    height: 25px;
    background-position: 0 -205px;
}
.footer_in .music_mode2{
    width: 23px;
    height: 20px;
    background-position: 0 -260px;
}
.footer_in .music_mode3{
    width: 25px;
    height: 19px;
    background-position: 0 -74px;
}
.footer_in .music_mode4{
    width: 26px;
    height: 25px;
    background-position: 0 -232px
}
.footer_in .music_fav{
    width: 24px;
    height: 21px;
    background-position: 0 -96px;
}
.footer_in .music_fav2{
    background-position: -30px -96px;
}
.footer_in .music_down{
    width: 22px;
    height: 21px;
    background-position: 0 -120px;
}
.footer_in .music_comment{
    width: 24px;
    height: 24px;
    background-position: 0 -400px;
}
.footer_in .music_only{
    width: 74px;
    height: 27px;
    background-position: 0 -281px;
}
.footer_in .music_only2{
    background-position: 0 -310px;
}
.footer_in .music_voice_info{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 10px;
}
.music_voice_info .music_voice_icon{
    width: 26px;
    height: 21px;
    background-position: 0 -144px;
    position: absolute;
    left: 0;
    top: 10px;
}
.music_voice_info .music_voice_icon2{
    background-position: 0 -182px;
}
.music_voice_info .music_voice_bar{
    width: 70px;
    height: 4px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    right: 0;
    top: 18px;
}
.music_voice_bar .music_voice_line{
    width: 70px;
    height: 100%;
    background: #fff;
}
.music_voice_line .music_voice_dot{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -5px;
    left: 70px;
}
.mask_bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url("https://s1.ax1x.com/2020/06/20/NQDoIP.jpg") no-repeat 0 0;
    background-size: cover;
    /* 背景模糊效果 */
    filter: blur(100px);
}
.mask{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
}
._mCS_1 .mCSB_scrollTools .mCSB_dragger_bar{
    width:8px;
}